h3{
    font-family:DolceVita;
    font-size:48px;
    color:purple;
    text-decoration:underline;
    position:absolute;
    top:10%;
    right: 27%;
}

p{
    font-family: Calibri;
    font-size: 18px;
    line-height: 40px;
    padding:0px;
    padding-top:20px;
}

img{
    position:absolute;
    border-radius: 50%;
    width: 25%;
    top: 12%;
    left:5%;
    border-style: solid;
    border-width: 5px;
    border-color: purple;
}

.about{
    width: 60%;
    height: 40%;
    position: absolute;
    right: 5%;
    bottom: 35%;
    top: 104px;
}
