fieldset{
    position:absolute;
    width:100%;
    height:100%;
}

legend{
    font-family: DolceVita;
    font-size: 36px;
    margin-left: 85px;
    padding-top: 28px;
    border:none;
    position:relative;
}

.label{
    position: absolute;
    padding: 12px;
    color: black;
    display: block;
    left: 71px;
}

.textbox{
    display: block;
    position: relative;
    width: 83%;
    border-radius: 15px;
    height: 20px;
    margin-top: 25px;
    margin-left: 84px;
    padding: 5px 0px 5px 5px;
    font-size: 15px;
}

#message{
    height: 150px;
    position: absolute;
    bottom: 80px;
    left: 0px;
    vertical-align:text-top;
    text-overflow: wrap;
}

#submit{
    position: absolute;
    bottom: 21px;
    background-color: purple;
    height: 37px;
    width: 104px;
    color: white;
    border-radius: 15px;
    border-style: none;
    right: 100px;
}